<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Group</title>

</head>
<body>
    <form action="/" method="POST">
        <h2 class="name">Education :</h2>
        <select class="option" name="education">
            <option disabled="disabled" selected="selected">--Select Education type</option>
            <option>Graduation</option>
            <option>PhD</option>
            <option>Basic</option>
            <option>Master</option>
            <option>2n Cycle</option>
        </select>
<!--rel status-->
        <h2 class="name">Relation :</h2>
        <select class="option" name="marrige">
            <option disabled="disabled" selected="selected">--Select status type</option>
            <option>Single</option>
            <option>Together</option>
            <option>Married</option>
            <option>Divorced</option>
            <option>Widow</option>
            <option>YOLO</option>
        </select>

        <h2 class="income">income</h2>
        <input class="income_v" type="text" name="income" size="5" maxlength="6">
<!--kidhome-->
        <h2 class="name">kidhome :</h2>
        <select class="option" name="kidhome">
            <option disabled="disabled" selected="selected">--Select kidhome type</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>
<!--teenhome-->
        <h2 class="name">teenhome :</h2>
        <select class="option" name="teenhome">
            <option disabled="disabled" selected="selected">--Select teenhome type</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
        </select>

            <h2 class="Recency">Recency</h2>
            <input class="Recency_v" type="text" name="Recency" size="5" maxlength="6">

            <h2 class="MntFruits">MntFruits</h2>
            <input class="MntFruits_v" type="text" name="MntFruits" size="5" maxlength="6">

            <h2 class="MntMeatProducts">MntMeatProducts</h2>
            <input class="MntMeatProducts_v" type="text" name="MntMeatProducts" size="5" maxlength="6">

            <h2 class="NumDealsPurchases">MntMeatProducts</h2>
            <input class="NumDealsPurchases_v" type="text" name="NumDealsPurchases" size="5" maxlength="6">

            <h2 class="NumWebPurchases">NumWebPurchases</h2>
            <input class="NumWebPurchases_v" type="text" name="NumWebPurchases" size="5" maxlength="6">

            <h2 class="NumCatalogPurchases">NumCatalogPurchases</h2>
            <input class="NumCatalogPurchases_v" type="text" name="NumCatalogPurchases" size="5" maxlength="6">

            <h2 class="NumStorePurchases">NumStorePurchases</h2>
            <input class="NumStorePurchases_v" type="text" name="NumStorePurchases" size="5" maxlength="6">

            <h2 class="NumWebVisitsMonth">NumWebVisitsMonth</h2>
            <input class="NumWebVisitsMonth_v" type="text" name="NumWebVisitsMonth" size="5" maxlength="6">
    </form>
</body>